.tabbed-component {
    .tab-navigation {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tab-item {
        cursor: pointer;
        padding: 10px;
        background-color: lightgray;
        border: 1px solid gray;
        border-bottom: none;

        &.active {
            background-color: white;
            border-bottom: 1px solid white;
        }
    }

    .tab-content {
        border: 1px solid gray;
        padding: 10px;

        .tab-pane {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}